<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
	<!--Adding a comment here-->
	<!--Additions from feature 1 branch-->
      <class name="tests.TestsLoginPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
